[user]
	name = "Marrangas"
	email = me@marrangas.es

[core]
	excludesFile = ~/.gitignore
	editor = nvim

[init]
	defaultBranch = master

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[pull]
	rebase = true
	autoStash = true

[push]
	default = current

[merge]
	tool = nvimdiff
	conflictstyle = diff3

[rebase]
  autoStash = true


[mergetool]
	prompt = false

[alias]
	chof = "!git add . && git commit --amend --no-edit"
	last = log -1 HEAD
	unstage = reset HEAD --
	parent = rev-parse --abbrev-ref --symbolic-full-name @{u}
	tree = log --graph --date=format:'%y-%m-%d %H:%M' --pretty='format:%C(auto)%h %C(red)%d%C(reset)%n%C(yellow)%an -> %ae%n%C(green)%ad%C(reset) %s%n' --all
	authors = shortlog --summary --numbered

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true

[credential]
	helper = store
