# local .env for the dotfiles to work
.env

# Mac
.DS_Store

# Gcloud ...
gcloud/.config/gcloud/logs

# Tmux install
tmux/.config/tmux/plugins/**
**/AppSupport

**/.secrets.baseline

# lua and nvim
tags
test.sh
.luarc.json
spell/
lazy-lock.json

# Python / Direnv
.direnv/
.venv/
venv/
pyvenv.cfg

# Local configs
local.yml
.local-profile
ghostty/.config/ghostty/env.conf
