root = true

# Universal settings
# Linux & macOS:  LF (\n)
# Since macOS X (and now macOS Sequoia), Apple transitioned to Unix standards.

# Windows: CRLF (\r\n)
# This is a legacy of typewriter mechanics:
# the "Carriage" returns to the start of the line (CR),
# and the paper "Feeds" up one line (LF).

# Classic Mac (Pre-OS X): CR (\r)
# Note: You will almost never see th  is today unless you are working with legacy files from the 90s.
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# 2-space indentation for specific formats
[*.{yml,yaml,json,js,ts,jsx,tsx,html,css,scss}]
indent_size = 2

# Tab-based indentation for makefiles and go
[{Makefile,*.go}]
indent_style = tab
indent_size = 4

# Shell scripts
[*.sh]
indent_style = tab
indent_size = 4

# Python follows PEP8
[*.py]
indent_size = 4

# TOML (like your AeroSpace config)
[*.toml]
indent_size = 2

# Markdown specific rules
# indent_size for the frontmatter
[*.md]
indent_size = 2 
max_line_length = 80
trim_trailing_whitespace = false
